* {
    padding: 0;
    margin: 0;
}
:root {
    --green: #4A90E2;
    --mustard: #70A4E0;
    --orange: #2C517D;
    --rouge: #364E6A;
}
.green { color: var(--green); }
.bg-green { background-color: var(--green); }
.b--green { border-color: var(--green) !important; }
body {
    background: rgba(0,0,0,0.2);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    grid-area: header;
    background-color: var(--orange);
    display: flex;
    padding: 0 1rem;
    align-items: center;
}
#audio-grid {
    flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    display: grid;
    grid-template-areas:
        'grid aside'
        'grid aside'
        'nav aside'
    ;
    grid-area: main;
    background-color: var(--mustard);
}
#audio-grid .grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}
#audio-grid nav {
    padding: 1rem;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}
#audio-grid nav button {
    padding: .5rem 1rem;
    margin: .5rem;
    border: solid 0px transparent;
    border-radius: 3px;
}
aside {
    padding: 1rem;
    grid-area: aside;
    background-color: var(--green);
}
footer {
    grid-area: footer;
    background-color: var(--rouge);
    display: flex;
    padding: 1rem;
    align-items: center;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
}
.modal section {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.modal section form {
    width: 50vw;
    height: 50vh;
    border-radius: 3px;
    padding: 2rem;
}
